<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link type="text/css" rel="stylesheet" href="css/error.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                       Error x-x-x </h2>
                    <div class="error-details">
                        Algo ha ido mal...
                    </div>
                    <div class="error-actions">
                        <a href="http://localhost:8080/login" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Volver al login </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>