<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/pagarpedido.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion de Pedido</title>
</head>
<body>

		
    
		<div class="container">
		<div class="row cabecera">
		
        <div class="col-sm-2">
            <button class="btn btn-lg"  onclick="history.back()"><i class="fa fa-undo"></i> Volver</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-lg" onclick="window.location.href='/seleccion'"><i class="fa fa-home"></i> Home</button>
        </div>
        <div class="col-sm-3 text-center">
            <button class="btn btn-lg" onclick="window.location.href='/catalogo'"><i class="fa fa-cart-arrow-down"></i> Catalogo</button>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-lg" onclick="window.location.href='/mispedidos'"><i class="fa fa-bars"></i> Mis Pedidos</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-lg" onclick="window.location.href='/invalidate'"><i class="fa fa-times-circle"></i> Logout</button>
        </div>
    </div>
			<div class="row principal">
				<div class="col-sm-12">
				
				<form action="#" th:action="@{/pedidopagado}" th:object="${cantidades}" method="post" >
						<div class="form-group">
						<div class="text-center">
						<h3 th:text="${'Pedido '+ idpedido}"></h3>
						</div>
						<div class="row-sm-12 pedidos" th:each="linea : ${lineas}">	
							<div th:if="${linea.getCantidad>0}" class="row producto">
								<div class="col-sm-6 titulo">
									<img th:src="${linea.getImgProducto()}"  alt="producto">
									<label for="producto1" th:text="${linea.getNombreProducto()}"></label>
	
								</div>
								
								<div class="col-sm-6">
									<div class="row">
										
										<div class="col-sm-4">
											<input type="number" name="cantidad" th:id="${linea.getId_producto()}" class="form-control" readonly th:value="${linea.getCantidad()}">
										</div>
										<div class="col-sm-6">
											<div class="row">
												<div class="col-sm-5"><h4>x 25€</h4></div>
												
												<div class="col-sm-5 offset-sm-1"><h4 th:text="${25*linea.getCantidad()+'€'}"></h4></div>
												
											</div>
											
										</div>
									</div>
									
									
								</div>
								
							</div>							
						</div>
						<div class="row">
						<div class="col-sm-1 offset-sm-8">
						<h4 class="verde">Total:</h4>
						</div>
						<div class="col-sm-1">
						<h4 th:text="${total}+'€'"></h4>
						</div>
						</div>
						<div class="flex-row ">
							<div class="col-sm-12">
							<label for="tlfn">Telefono:</label>
							<input type="tel" id="phone" name="tlfn"
       						pattern="[0-9]{9}"
       						required>
							   <small>ej:655758170</small>
							
							</div>
							<div class="col-sm-12 ">
								<label for="mail">Mail: </label>
								<input type="email" id="email"
      							 pattern=".+@(gmail|hotmail)\.com" size="30" required>
							</div>
						</div>
						<div class="flex-row justify-content-start">
							<div class="col-sm-12 ">
								<label for="tlfn">Direccion:</label>
								<input type="text" name="direccion" id="" size="50" required>	
							</div>
						</div>
						<br><br>
						<div class="flex-row">
						<div class="col-sm-12">
						Metodo de envío
						</div>
							<div class="col-sm-12">
							<input type="radio" name="envio" id="" value="" required checked="true">
							<label for="envio">Standard</label>
							</div>
							<div class="col-sm-12">
							<input type="radio" name="envio" id="" value="">
							<label for="envio">Express</label>
							</div>
						</div>
						<div class="text-center">
						<button type="submit" class="btn btn-primary">Pagar</button>
						</div>
						
						
					</form>
					</div>
			</div>
					

		</div>
	
		


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>